h1 {
  color: burlywood;
}

.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: aliceblue;
}

.list a:hover,
.list a.active {
  color: bisque;
}

@media (min-width: 319px) and (max-width: 481px) {
  .header {
    font-size: 70%;
    padding: 0px;
    margin: 2% -10%;
  }
}
